
.ifm-main {
  min-height: 100vh; /* Ensures it covers the screen */
  width: 100%;       /* Full width */
  display: flex;     /* Allows child elements to expand */
  flex-direction: column; /* Organizes children top-to-bottom */
}