body {
    background-color: #787878;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    padding: 14px 16px;
}
.topnav a:hover {
    background-color: #dddddd;
    color:black;
}

.topnav .active {
    background-color: #3087d3;
    color:white;
}
#Title {
    text-align: center;
    background-color: #3087d3;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
}